.meal-item{
   border-radius: 5px;
}
.meal-item img{
    width: 300px;
}
.food-btn{
    width: 50%;
    background-color: blueviolet;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.food-btn:hover{
    background-color: orange;
    color: rgb(164, 220, 247);
}